* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

/*  Header start*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  padding: 16px 3%;
  transition: 0.7s;
}

header.sticky {
  background: rgb(212, 212, 212);
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.246);
  color: white;
  transition: 0.7s;
}

.container {
  max-width: 1220px;
  margin: 0 auto;
}

.flex-nav-all {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  z-index: 999;
}

.company-logo a {
  color: black;
  font-size: 20px;
}

.nav-fl {
  display: flex;
  align-items: center;
  gap: 18px;
}

.nav-fl a:first-child {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0b132a;
}

.nav-fl a:last-child {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #f53855;
  color: #f53855;
  padding: 6px 25px;
  border-radius: 50px;
}

.nav-items {
  display: flex;
}

.nav-item {
  margin: 0 1.9rem;
}

.nav-link {
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  position: relative;
  background: black;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link::before {
  content: "";
  background: black;
  width: 100%;
  height: 0.06rem;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 500ms;
}

.nav-link:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#cars {
  border: none;
  background: transparent;
  color: black;
  cursor: pointer;
}

.menu-toggle {
  display: none;
}

.bx-menu,
.bx-x {
  cursor: pointer;
  color: black;
  display: none !important;
}

/* Header end */

/* Home start */
.sec-2 {
  width: 100%;
}

.home {
  display: flex;
  align-items: center;
  gap: 150px;
  justify-content: space-between;
  padding: 230px 10px;
  width: 93%;
}

.home-text {
  width: 50%;
}

.home-text h3 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 550;
  font-size: 50px;
  line-height: 65px;
  color: black;
  margin-bottom: 25px;
}

.home-text p {
  font-size: var(--p-font);
  color: #494c51;
  line-height: 28px;
  margin-bottom: 20px;
}

.nav-btn {
  padding: 18px 65px;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background: #f53838;
  border-radius: 10px;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.5s ease 0s;
  cursor: pointer;
  outline: none;
}

.nav-btn:hover {
  background: #f53838;
  color: white;
  transform: translateY(-7px);
}

.home-img img {
  width: 100%;
}

/* Home end */

/* Section-3 Start */

.sect-3 {
  position: relative;
  top: -70px;
  width: 90%;
  background: #ffffff;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.099);
  border-radius: 30px;
  text-align: center;
  padding: 20px 100px;
  color: #08546c;
  line-height: 40px;
  font-family: "Inter";
  font-style: normal;
}

.flex {
  line-height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.yon {
  display: flex;
  align-items: center;
  gap: 17px;
}

.yon img {
  height: 60px;
}

/* Section-3 end */

/* Section-4 start */
.flex4 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  width: 90%;
  padding: 60px 0px;
}

.card {
  position: relative;
  background: #ffff;
  overflow: hidden;
  width: 98%;
  margin: auto;
  padding: 33px 25px;
  border-radius: 10px;
  border: 1px solid #e6e5e5;
  margin-bottom: 20px;
}

.card:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: calc(-100% + 3px);
  width: 100%;
  height: 100%;
  background: #00a0c1;
  z-index: 1;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.card:hover:before {
  bottom: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 14px;
}

.content {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  position: relative;
  color: black;
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.content2 {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  position: relative;
  color: black;
  z-index: 2;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  text-align: center;
}

.tx {
  text-align: center;
}

.tx h1 {
  font-size: 35px;
}

.content img {
  width: 100%;
  text-align: center;
}

.content2 img {
  width: 60%;
}

.content p {
  color: #737373;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.card:hover .content {
  color: white;
}

.card .im {
  width: 50% !important;
  margin: auto;
}

.card:hover .content2 {
  color: white;
}

.card:hover p {
  color: white;
  -webkit-transition: 0.9s;
  -o-transition: 0.9s;
  transition: 0.9s;
}

.viev {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
  background: #3858d6;
  border-radius: 15px;
  color: white;
  border: none;
  cursor: pointer;
  width: 150px;
}

/* Section-4 end */

/* Section 5 start */

#owl-carousel {
  padding: 80px 15px;
}

.owl-carousel-1 {
  position: relative;
}

.owl-carousel-1 .owl-dots .owl-dot span {
  width: 10px;
  height: 10px;
  margin: 9px 7px;
  border-radius: 30px;
  transition: all 0.2s ease;
  background-color: #bab9b9;
}

.owl-carousel-1 .owl-dots .owl-dot.active span {
  width: 50px;
  background-color: #3858d6;
}

.owl-carousel-1 .owl-nav {
  display: none;
}

.service {
  width: 95%;
  margin: auto;
}

.service h1 {
  margin-top: 75px;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
  padding-bottom: 15px;
  position: relative;
  font-family: "Schoolbell";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #265a6a;
}

.service h1::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 3px;
  background-color: wheat;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.service h2 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 45px;
  line-height: 60px;
  color: #08546c;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 60px;
}

.content {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
}

.card2 {
  border: 1px solid #e6e5e5;
  background: #ffffff;
  width: 100%;
  padding: 30px 20px;
  border-radius: 6px;
  position: relative;
  cursor: pointer;
  transition: all 0.5 ease;
  overflow: hidden;
}

.card2 .im {
  position: absolute;
  top: -166px;
  right: -166px;
  transition: all 0.6s ease-in-out;
}

.box {
  color: white;
  text-align: left;
}

.box i {
  font-size: 40px;
  padding-left: 10px;
  color: crimson;
  transition: color 0.3s ease;
}

.box img {
  width: 45px;
  border-radius: 50px;
}

.box p {
  padding-top: 10px;
  color: #696969;
}

.box h3 {
  padding-top: 10px;
  color: black;
  font-weight: 600;
}

.card2::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 0%;
  background-color: crimson;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 6px;
  transition: 0.9s ease;
}

.card2:hover {
  background-color: transparent;
}

.card2:hover::before {
  width: 100%;
}

.card2:hover h3 {
  color: white;
}

.card2:hover p {
  color: white;
}

.card2:hover .im {
  top: 3;
  right: 0;
}

.flexx {
  display: flex;
  align-items: center;
  gap: 20px;
}

.flexx img .imm {
  width: 1px;
}

/* Section 5 end */

/* Footer start 6 */

.sect-6 img {
  width: 70px;
}

.sect-6 {
  display: flex;
  justify-content: space-between;
  width: 93%;
}

.sect-6 {
  padding: 100px 20px 150px;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: 1px;
}

.logo img {
  width: 180px;
}

.sect-6-left p {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}

.sect-6-icons i {
  color: black;
  cursor: pointer;
}

.sect-7-icons {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  font-size: 20px;
}

.footer-right {
  display: flex;
}

.services {
  margin: 0px 115px 0px 168px;
}

.footer-list h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}

.footer-list a {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}

.footer-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.9px;
  border-radius: 4px;
  background-color: #787878;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footer-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer-list li {
  margin-top: 10px;
}

.footer-list ul {
  margin-top: 28px;
}

footer {
  background-color: #f8f8f8;
}

.footer {
  padding: 101px 20px 172px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  display: flex;
  align-items: center;
}

.footer-logo span {
  margin-left: 5px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #08546c;
}

.footer-left p {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #757575;
}

.footer-apps {
  display: flex;
  gap: 17px;
  margin-top: 50px;
}

.footer-right {
  display: flex;
}

.services {
  margin: 0px 115px 0px 168px;
}

.footer-list h3 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #08546c;
}

.footer-list a {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #787878;
}

.footer-list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.9px;
  border-radius: 4px;
  background-color: #787878;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.footer-list a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.footer-list li {
  margin-top: 10px;
}

.footer-list ul {
  margin-top: 28px;
}
/* Footer end 6 */

#backround{
    background: #F8F8F8;
}
.plan_title h1 {
    margin: 0 auto;
    padding: 80px 0 20px;
    max-width: 383.41px;
    line-height: 50px;
    font-size: 35px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #0b132a;
  }
  
  .plan_title p {
    margin: 0 auto;
    padding-bottom: 60px;
    max-width: 555px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #4f5665;
  }
  
  .plan_card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    grid-gap: 50px;
  }
  
  .card3 {
    margin-bottom: 150px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    background: #ffffff;
    transition: .6s;
  }
  
  .card3:hover {
    border: 2px solid #f53838;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .img {
    padding: 76.93px 95.55px 30px;
  }
  
  .card_name h1 {
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #0b132a;
  }
  
  .card_opportunity_left {
    padding: 30px 69.87px 130px;
  }
  
  .card_opportunity_center {
    padding: 30px 69.57px 90px;
  }
  
  .card_opportunity_right {
    padding: 30px 69.87px 50px;
  }
  
  .card_item {
    display: flex;
    padding-bottom: 10px;
    gap: 20.17px;
    align-items: center;
  }
  
  .card_item p {
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    color: #4f5665;
  }
  
  span {
    line-height: 30px;
    font-size: 25px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: #4f5665;
  }
  
  .free h3 {
    padding-bottom: 20px;
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #0b132a;
  }
  
  .free {
    padding-bottom: 50px;
  }
  
  .free h3 {
    line-height: 30px;
    font-size: 25px;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    color: #0b132a;
  }
  
  .free a {
    margin-bottom: 50px;
    padding: 13px 62.94px;
    line-height: 19px;
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
    border-radius: 40px;
    background: white;
    border: 2px solid #f53838;
    color: #f53838;
    text-decoration: none;
    transition: 0.6s;
  }
  
  .free a:hover {
    color: #ffffff;
    background: #f53838;
  }
  
  @media (min-width: 0px) {
    .plan_card {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      text-align: center;
      margin:  30px;
      grid-gap: 0px;
      
  }
  .card3 {
    margin-bottom: 30px;
    border: 2px solid #dddddd;
    border-radius: 10px;
    background: #ffffff;
  }
  }
  
  @media (min-width: 745px) {
    .plan_card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      text-align: center;
      margin: 0 30px;
      grid-gap: 0px;
  }
  }
  
  @media (min-width: 920px) {
    .plan_card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      margin: 0 30px;
      grid-gap: 50px;
  }
  }
  

@media (max-width:1100px){
    .sect-6 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
      }
      .footer-right {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 50px;
      }
      .services {
        margin: 0px 165px 0px 160px;
      }
      .logo{
       display: none;
      }
      .sect-6 {
        padding: 20px 10px 40px;
      }
}

@media (max-width: 1000px) {
  .home {
    display: flex;
    gap: 50px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 130px 0;
  }
  .home .home-text .inp {
    display: flex;
    justify-content: center;
  }

  .home-text .inp a {
    position: relative;
    left: 100px;
    top: 8px;
  }
  .home-img img {
    width: 90%;
  }
  .home-text {
    width: 100%;
  }
  .home-text h3 {
    font-size: 30px;
    line-height: 40px;
  }
}

@media (max-width: 990px) {
  .nav-btn {
    display: none;
  }
  /* ================= HEADER ================ */
  header {
    padding: 0.5rem 1rem;
  }
  .navbar {
    background-color: rgb(175, 173, 173);
    position: absolute;
    top: 3.5rem;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    line-height: 50px;
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 500ms;
  }
  .show-navbar {
    display: flex;
    transform: scaleY(1);
    transform-origin: top;
    transition: transform 300ms;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
  }
  .nav-item {
    margin: 0.5rem 0;
  }
  .menu-toggle {
    display: block;
  }
  .bx-menu {
    display: block !important;
  }
  .show-bx {
    display: block !important;
  }
  .hide-bx {
    display: none !important;
  }

  .Home .fle {
    flex-direction: column;
    text-align: center;
  }
  .fle .p1 {
    font-size: 30px;
    line-height: 42px;
    margin-bottom: 10px;
  }
  .nav-fl {
    display: none;
  }
  
  .sect-3 {
    padding: 10px 10px;
  }
  
  .flex {
    line-height: 30px;
    display: flex;
    gap: 60px;
    flex-direction: column;
    align-items: center;
  }
  .is {
    height: 60px;
    display: none;
  }

  .footer-logo img {
    width: 50%;
    margin: auto;
  }
}
